.prom {
    font-family: "Liberation Serif";
    font-size: 30px;
    color: darkslategray;

}

.food {
    font-family: "DejaVu Serif";
    font-size: 25px;
    color: darkslategray;

}
.name {
    font-family: Dyuthi;
    font-size: 40px;
    color: black;

}